.container {
    display: flex;
    justify-items: center;
    margin: 0 auto;
    flex-direction: column;
    max-width: 80%;
    text-align: center;
}

.heading {
    margin-top: 200px;
}

.button {
    margin: 0 auto;
    width: 30%;
}